*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Sansita Sans', sans-serif;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    background-color: #EAEFF2;
    color: #090909;
    border: 1px solid #ccc;
    padding: 1rem 0 0;
    font-size: 1.5rem;
    text-align: center;
}

#course-title {
    font-weight: bold;
}


nav {
    background-color: #36454f;
   
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid #fff;
}

.active {
    color: yellow;
}

/* larger/wider views */
@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 18px;
    margin-top: 18px;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #fff;
    margin-top: 25px;
}

.grid-child {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


.grid-container > .grid-child {
    border: 2px solid rgb(0 0 0 / 10%);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 0 0rem;
    margin-left: 0px;
    border-radius: 12px;
    background-color: #f9f9f9;
    
}

.grid-child.aside {
    margin-left: 15px;
    
}

h1 {
    background-color:  #EAEFF2; 
    color: #090909; 
    text-align: center; 
    padding: 10px;
}

.profile {
    margin: 25px 18px;
}

.card-1 {
    margin-top: 55px;
}

.card-1 p {
    margin: 12px; 
    width: 980px;
}

h2 {
    margin-bottom: 18px; 
    margin-left: 65px; 
    border-bottom: 1px solid rgb(124, 122, 122); 
    text-align: center; 
    width: 600px;
}

.matadi-city {
    float: left; 
    height: 120px; 
    margin-right: 18px;
}

h3 {
    background-color: #EAEFF2;
    color: #090909; 
    margin-bottom: 12px; 
    text-align: center; 
    padding: 10px;
}

h1, h2, h3 {
  font-size: 1.5em; /* Or any other specific font size */
}

.box-container ul {
    padding: 120px  45px;
}

footer {
    margin-top: 15px;
    background-color: #EAEFF2; 
    color: #090909;
    text-align: center;
    padding: 12px 0px;
    line-height: 1.5;
}

