*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Sansita Sans', sans-serif;
    margin: 0;
}

header {
    background-color: #5c6970; 
    text-decoration: none;
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 1rem; 
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color:#fffdfd;
    text-decoration: none;
}

/* Default (destop) */
.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
}


/* Mobile view */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background: #eee;
        padding: 1rem;
        position: absolute;
        top: 60px;
        right:0;
        width: 200px;
    }
    .nav-links.show {
        display: flex;
    }
 
}

#temples-album {
    color: #ffffff;
    margin-right: 250px;
    margin-left: 55px;
    white-space: nowrap;
    padding-top: 15px;
}



.active {
    color: yellow;
    
}

main {
    max-width: 1028px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    padding: 18px;
    font-size: 1.25rem;
}

h2 {
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
}


.grid-temples {
    display:grid; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
}

.temples-container {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 7px;
    top: 0;
    width: 100%;
}

figure {
    background-color:#fff;
}

img {
    width: 100%;
    height: auto;
     margin: .5rem;
}

figcaption {
    font-size: smaller;
    text-align: center;
}

.hover:hover {
    box-shadow: 0 0 50px #333;
}

footer {
    margin-top: 15px;
    background-color: #EAEFF2; 
    color: #090909;
    text-align: center;
    padding: 12px 0px;
    line-height: 1.5;
}
