
.main-column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media screen and (min-width:780px) {
    .main-column {
        grid-template-columns: repeat(1fr, 1fr);
    }
}

